@media only screen and (max-width: 999px) {
	.container {
		width: 50%;
		background-color: yellow;
	}
	.sidebar {
		clear: both;
		text-align: center;
		width: auto;
	}
<<<<<<< HEAD
}

@media only screen and (max-width: 500px) {
	.image {
		visibility: hidden;
	}
	.container {
		width: 25%;
	}
	.siderbar {
		clear:both;
	}
=======
>>>>>>> develop/develop
}