/*This is the biggest category of style */

/* make margins work with padding in any browser */
body *, body *:after, body *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

/* Re-set the background of the full page to left and light blue */
body {
	background-color: #6098B2;
	margin: 0;
	top: 0;
}

h1 {
	font-family: serif;
	color: #591C16;
	font-size: 300%;
}

/* Fixed bar at the top - top margin pulled up a little and padding below and left */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	margin-top: -10px;
	margin-bottom: -10px;
	z-index: 1000;
	height: 200px;
	background-color: #4862A3;
	padding: 0px 0px 25px 30px;
}

header .Left_Header_Bar {
	float: left;
}

header .Left_Header_Bar h2 {
	margin-top: -10px;
}

header .Left_Header_Bar p {
	margin-top: -10px;
}


/* Image in the Header */
header .image {
	height: 80%;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

h2 {
	color: black;
}

aside h2 {
	text-align: center;
}

/* Define the handwritten notes font here */
h6 {
	font-family: 'Monsieur La Doulaise', cursive;
	font-size: 75%;
}

h5 {
	color: #64AACC;
}

p {
	font-family: sans-serif;

}

img {
	width: 200px;
	border: solid;
	border-radius: 10px 10px 10px 10px;
}

/*Link styles */
a:link {
	color: black;
}

a:visited {
	color: #591C16;
}

/*Class Styles*/


.container {
	width: 100%;
	margin-top: 200px;
	left: 0;
/*	background-color: yellow; */
}

.content {
	float: left;
	margin-left: 0;
	width: 800px;
}

.sidebar {
	float: right;
	width: 25%;
	margin-right: 0;
	background-color: #5789A1;
	border-color: black;
}

.sidebar ul {
	display: inline-block;
	list-style-type: none;
}

.warning {
	color: red;
}

.contact {
	font-size: 100%;
}

.transition {
	transition: background-color 2s;
}

.transition:hover {
	background-color: red;
	background-clip: content-box;
}

nav {
	font-size: 200%;
}

.clear {
	clear:both;
}

/*ID styles*/
#scary {
	color: red;
	font-family: 'Monsieur La Doulaise', cursive;
}

footer div {
	clear: both;
}

footer .contact > a {
	font-family: 'Monsieur La Doulaise', cursive;
	background-color: white;
	background-clip: content-box;
	font-size: 150%;

}

a[href*="gdiminneapolis"] {
	color: yellow;
}

p[content~="mystery"] {
	font-family: 'Monsieur La Doulaise', cursive;
	color: red;
	background-color: green;
}